* {
    margin: 0;
    font-family: 'Schoolbell', cursive;
}
.bio-box {
    display: none;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.top-navbar {
    display: none;
    justify-content: center;
    align-content: flex-start;
    position: fixed;
    background-color: #333;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
}
.top-navbar a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.7s ease;
}
.top-navbar a:hover {
    background:mintcream;
}
@media screen and (max-width: 880px) {
    .top-navbar {
        display: flex;
    }
}
.cooper {
    font-size: 60px;
    color: #E00021;
    margin-top: 50px;
}
.mobile-bio {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 15px;
    background: whitesmoke;
    color: black;
    font-size: 10px;
}
p {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}