@import url('https://fonts.googleapis.com/css?family=Schoolbell');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    font-size: 100px;
    font-family: 'Schoolbell', cursive;
}
.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
    width: calc(100vw);
    background-image: linear-gradient(rgba(255, 255, 255, 0.863),rgba(255, 255, 255, 0.842)), url(./images/cement.jpeg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.main-body {
    display: grid;
    grid-template-rows: repeat(9, 67px);
    grid-template-columns: repeat(13, 67px);
}

.navbar {
    position: fixed;
    bottom: 0;
    right: 25px;
    color: #E00021;
}
/* COOPER-CODES */
.numberthree {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    font-size: 15px;
    z-index: 10;
    display: flex;
    margin-left: 2px;
    font-family: 'Roboto', sans-serif;
    z-index: 10;
}
.C {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    font-size: 110px;
}
.o {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.o2 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.p {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.e {
    grid-row: 4 / 5;
    grid-column: 6 / 7;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.r {
    grid-row: 4 / 5;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.dash {
    grid-row: 4 / 5;
    grid-column: 8 / 9;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.c2 {
    grid-row: 4 / 5;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    z-index: 10;
}
.o3 {
    grid-row: 4 / 5;
    grid-column: 10 / 11;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.d {
    grid-row: 4 / 5;
    grid-column: 11 / 12;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.e2 {
    grid-row: 4 / 5;
    grid-column: 12 / 13;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
.s {
    grid-row: 4 / 5;
    grid-column: 13 / 14;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
}
/* BLOG */
.numbertwo {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    font-size: 15px;
    font: ;
    z-index: 10;
    display: flex;
    margin-left: 2px;
    font-family: 'Roboto', sans-serif;
}
.B {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.l {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.g {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
/* WELCOME */
.numberone {
    grid-row: 1 / 2;
    grid-column: 9 / 10;
    font-size: 15px;
    font: ;
    z-index: 10;
    display: flex;
    margin-left: 2px;
    font-family: 'Roboto', sans-serif;
}
.W {
    grid-row: 1 / 2;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}
.e3 {
    grid-row: 2 / 3;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.l2 {
    grid-row: 3 / 4;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.o4 {
    grid-row: 5 / 6;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m {
    grid-row: 6 / 7;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.e4 {
    grid-row: 7 / 8;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* PROJECTS */
.numberfive {
    grid-row: 7 / 8;
    grid-column: 5 / 6;
    font-size: 15px;
    z-index: 10;
    display: flex;
    margin-left: 2px;
    font-family: 'Roboto', sans-serif;
    z-index: 10;
}
.P2 {
    grid-row: 7 / 8;
    grid-column: 5 / 6;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r2 {
    grid-row: 7 / 8;
    grid-column: 6 / 7;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.o5 {
    grid-row: 7 / 8;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.j {
    grid-row: 7 / 8;
    grid-column: 8 / 9;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c3 {
    grid-row: 7 / 8;
    grid-column: 10 / 11;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t {
    grid-row: 7 / 8;
    grid-column: 11 / 12;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2 {
    grid-row: 7 / 8;
    grid-column: 12 / 13;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* LORE */
.numberfour {
    grid-row: 6 / 7;
    grid-column: 7 / 8;
    font-size: 15px;
    z-index: 10;
    display: flex;
    margin-left: 2px;
    font-family: 'Roboto', sans-serif;
    z-index: 10;
}
.L3 {
    grid-row: 6 / 7;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r3 {
    grid-row: 8 / 9;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.e5 {
    grid-row: 9 / 10;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}