@import url('https://fonts.googleapis.com/css?family=Schoolbell');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(./mobileLP.css);
* {
    margin: 0;
    font-size: 100px;
    font-family: 'Schoolbell', cursive;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(255, 255, 255, 0.863),rgba(255, 255, 255, 0.842)), url(./images/cement.jpeg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.main-body {
    display: grid;
    grid-template-rows: repeat(9, 67px);
    grid-template-columns: repeat(13, 67px);
}

.navbar {
    position: fixed;
    bottom: 0;
    right: 30px;
    color: #E00021;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 0.75;
    }
    100% { 
        opacity: 1.0;
    }
}
/* COOPER-CODES */
.numberthree {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    font-size: 15px;
    z-index: 10;
    display: flex;
    /* margin-left: 2px; */
    font-family: 'Roboto', sans-serif;
    background: white;
    border: 1px #241823 solid;
}
.C {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    border: 1px #241823 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    font-size: 110px;
    z-index: 10;
    opacity: 1.0;
    animation-name: pulsate; 
    animation: pulsate 4s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.o {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    animation-name: pulsate; 
    animation: pulsate 4s linear;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.box1 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    border: 1px #241823 solid;
    background: white;
}
.o2 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate;
    animation: pulsate 4s linear;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.box2 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    border: 1px #241823 solid;
    background: white;
}
.p {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate; 
    /* animation-duration: infinite; */
    animation: pulsate 4s linear;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.box3 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    border: 1px #241823 solid;
    background: white;
}
.e {
    grid-row: 4 / 5;
    grid-column: 6 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate; 
    /* animation-duration: infinite; */
    animation: pulsate 4s linear;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.box4 {
    grid-row: 4 / 5;
    grid-column: 6 / 7;
    border: 1px #241823 solid;
    background: white;
}
.r {
    grid-row: 4 / 5;
    grid-column: 7 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate; 
    /* animation-duration: infinite; */
    animation: pulsate 4s linear;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}
.box5 {
    grid-row: 4 / 5;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
}
.dash {
    grid-row: 4 / 5;
    grid-column: 8 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 2.75s;
    animation-fill-mode: forwards;
}
.box6 {
    grid-row: 4 / 5;
    grid-column: 8 / 9;
    border: 1px #241823 solid;
    background: white;
}
.c2 {
    grid-row: 4 / 5;
    grid-column: 9 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    z-index: 10;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 3.25s;
    animation-fill-mode: forwards;
}
.box7 {
    grid-row: 4 / 5;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
}
.o3 {
    grid-row: 4 / 5;
    grid-column: 10 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 3.75s;
    animation-fill-mode: forwards;
}
.box8 {
    grid-row: 4 / 5;
    grid-column: 10 / 11;
    border: 1px #241823 solid;
    background: white;
}
.d {
    grid-row: 4 / 5;
    grid-column: 11 / 12;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 4.25s;
    animation-fill-mode: forwards;
}
.box9 {
    grid-row: 4 / 5;
    grid-column: 11 / 12;
    border: 1px #241823 solid;
    background: white;
}
.e2 {
    grid-row: 4 / 5;
    grid-column: 12 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 4.75s;
    animation-fill-mode: forwards;
}
.box10 {
    grid-row: 4 / 5;
    grid-column: 12 / 13;
    border: 1px #241823 solid;
    background: white;
}
.s {
    grid-row: 4 / 5;
    grid-column: 13 / 14;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00021;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 5.25s;
    animation-fill-mode: forwards;
}
.box11 {
    grid-row: 4 / 5;
    grid-column: 13 / 14;
    border: 1px #241823 solid;
    background: white;
}
/* BLOG */
.numbertwo {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    font-size: 15px;
    z-index: 10;
    display: flex;
    /* margin-left: 2px; */
    font-family: 'Roboto', sans-serif;
    background: white;
    border: 1px #241823 solid;
}
.B {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    z-index: 10;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 7.2s;
    animation-fill-mode: forwards;
}
.B:hover {

}
/* @keyframes test {
    from {color: #241823;}
    to {color: yellow;}
} */
.l {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 7.4s;
    animation-fill-mode: forwards;
}
.box12 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    border: 1px #241823 solid;
    background: white;
}
.g {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}
.box13 {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    border: 1px #241823 solid;
    background: white;
}
/* WELCOME */
.numberone {
    grid-row: 1 / 2;
    grid-column: 9 / 10;
    font-size: 15px;
    z-index: 10;
    display: flex;
    /* margin-left: 2px; */
    font-family: 'Roboto', sans-serif;
    background: white;
    border: 1px #241823 solid;
}
.W {
    grid-row: 1 / 2;
    grid-column: 9 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    z-index: 10;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 5.25s;
    animation-fill-mode: forwards;
}
.e3 {
    grid-row: 2 / 3;
    grid-column: 9 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 5.45s;
    animation-fill-mode: forwards;

}
.box14 {
    grid-row: 2 / 3;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
}
.l2 {
    grid-row: 3 / 4;
    grid-column: 9 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
.box15 {
    grid-row: 3 / 4;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
}
.o4 {
    grid-row: 5 / 6;
    grid-column: 9 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 6.2s;
    animation-fill-mode: forwards;
}
.box16 {
    grid-row: 5 / 6;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
}
.m {
    grid-row: 6 / 7;
    grid-column: 9 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 6.4s;
    animation-fill-mode: forwards;
}
.box17 {
    grid-row: 6 / 7;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
}
.e4 {
    grid-row: 7 / 8;
    grid-column: 9 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}
.box18 {
    grid-row: 7 / 8;
    grid-column: 9 / 10;
    border: 1px #241823 solid;
    background: white;
}
/* PROJECTS */
.numberfive {
    grid-row: 7 / 8;
    grid-column: 5 / 6;
    font-size: 15px;
    z-index: 10;
    display: flex;
    /* margin-left: 2px; */
    font-family: 'Roboto', sans-serif;
    background: white;
    border: 1px #241823 solid;
}
.P2 {
    grid-row: 7 / 8;
    grid-column: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    z-index: 10;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 8.3s;
    animation-fill-mode: forwards;
}
.r2 {
    grid-row: 7 / 8;
    grid-column: 6 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 8.4s;
    animation-fill-mode: forwards;
}
.box19 {
    grid-row: 7 / 8;
    grid-column: 6 / 7;
    border: 1px #241823 solid;
    background: white;
}
.o5 {
    grid-row: 7 / 8;
    grid-column: 7 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 8.55s;
    animation-fill-mode: forwards;
}
.box20 {
    grid-row: 7 / 8;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
}
.j {
    grid-row: 7 / 8;
    grid-column: 8 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 9.1s;
    animation-fill-mode: forwards;
}
.box21 {
    grid-row: 7 / 8;
    grid-column: 8 / 9;
    border: 1px #241823 solid;
    background: white;
}
.c3 {
    grid-row: 7 / 8;
    grid-column: 10 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 9.3s;
    animation-fill-mode: forwards;
}
.box22 {
    grid-row: 7 / 8;
    grid-column: 10 / 11;
    border: 1px #241823 solid;
    background: white;
}
.t {
    grid-row: 7 / 8;
    grid-column: 11 / 12;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 9.4s;
    animation-fill-mode: forwards;
}
.box23 {
    grid-row: 7 / 8;
    grid-column: 11 / 12;
    border: 1px #241823 solid;
    background: white;
}
.s2 {
    grid-row: 7 / 8;
    grid-column: 12 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
.box24 {
    grid-row: 7 / 8;
    grid-column: 12 / 13;
    border: 1px #241823 solid;
    background: white;
}
/* LORE */
.numberfour {
    grid-row: 6 / 7;
    grid-column: 7 / 8;
    font-size: 15px;
    z-index: 10;
    display: flex;
    /* margin-left: 2px; */
    font-family: 'Roboto', sans-serif;
    background: white;
    border: 1px #241823 solid;

}
.L3 {
    grid-row: 6 / 7;
    grid-column: 7 / 8;
    font-size: 15px;
    z-index: 10;
    display: flex;
    /* margin-left: 2px; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-in;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 10.2s;
    animation-fill-mode: forwards;

}
/* .L3:hover {
    text-decoration: none;
    text-decoration-color: #E00021;
} */

.r3 {
    grid-row: 8 / 9;
    grid-column: 7 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-in;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 10.45s;
    animation-fill-mode: forwards;
}
.box25 {
    grid-row: 8 / 9;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
}
.e5 {
    grid-row: 9 / 10;
    grid-column: 7 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-out;
    animation-iteration-count: 1;
    z-index: 1;
    opacity: 0;
    animation-delay: 10.55s;
    animation-fill-mode: forwards;
}
.box26 {
    grid-row: 9 / 10;
    grid-column: 7 / 8;
    border: 1px #241823 solid;
    background: white;
}
/* .to {
    grid-row: 8 / 9;
    grid-column: 11 / 12;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 2s;
    opacity: 1.0;
    animation-name: pulsate; 
    animation-duration: infinite;
    animation: pulsate 5s ease-in;
    animation-iteration-count: 1;
    z-index: 1;
}
.box27 {
    grid-row: 8 / 9;
    grid-column: 11 / 12;
    border: 1px #241823 solid;
    background: white;
} */

@media (max-width: 880px) {
    .main-body {
    display: none;

}
.bio-box {
    display: flex;
}
}